body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 1px;

}

.navbar-nav li a {
  padding-top: 2px;
  line-height: 120%;
  border: 1px;
  width: 100%;
  border-color: #61122f;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 70px;
  padding-left: 0;
 
}

.navbar-default{
  border-color: #61122f;

}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  padding-bottom: 10px;
  line-height: .75;
  text-align: left;
  padding-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navb{
  width: 100%;
  height: 18px;
  font-weight: bold;
  color: #61122f;
  line-height: 130%;
 
}

#nav-list {

}
#nav-list a {
  color: #951C49;
  text-align: center;
 
}
#nav-list a:hover {
  background: #5be360;
  box-sizing: border-box;
  width: 100%;
  border: 1px;
  border-color: #61122f;
  
}
#nav-list a span {
  font-size: .8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;

}

.navbar-header button.navbar-toggle
{
  margin-top: 11px;
}
.navbar-header button.navbar-toggle {

}
/* END HEADER */

/* HOME PAGE */

#main-content {
  background-color: antiquewhite;
  color: black;
  width: 95%;
}

.nav-list {
  border: 1px;
  border-color: #61122f;
  width: 100%;
}

/* END HOME PAGE */



/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
   
  }


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    border: 1px;
    border-color: #61122f;
    width: 100%;
    color: #557c3e;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    border: 1px;
    border-color: #61122f;
    width: 100%;
    
  }

  #xs-deliver {
  
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Home Page */

  #main-content {
    width: 75%;
  }
}
